aiohttp==3.12.14
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.9.0
attrs==25.3.0
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
dataclasses-json==0.6.7
faiss-cpu==1.9.0
fastapi==0.115.4
frozenlist==1.5.0
groq==0.11.0
httpx==0.27.2
idna==3.10
jinja2==3.1.4
joblib==1.4.2
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.17
langchain-huggingface>=0.1.0
langchain-openai>=0.2.3
langchain-groq>=0.2.0
markupsafe==3.0.2
numpy==1.26.4
openai==1.52.1
packaging==24.1
pandas==2.2.3
pydantic>=2.7,<2.9
pydantic-core>=2.18,<2.23
python-dotenv==1.0.1
requests==2.32.3
scikit-learn==1.5.2
scipy==1.14.1
sentence-transformers==3.2.1
starlette==0.40.0
streamlit==1.39.0
tenacity==9.0.0
tqdm==4.66.5
typing-extensions==4.12.2
urllib3==2.2.3
uvicorn==0.32.0
yarl==1.18.3
